<div>

  <h2><%= @random_compliment.compliment %></h2>

  <div class="links">
    <div class="tag">
      <a href="/">I'm still emotionally vacant. <br> Give me another compliment.</a>
    </div>
    <div class="tag">
      <a href="https://ruby-doc.org/">I'm ready to soldier on.</a>
    </div>
  </div>

</div>
